.features .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns per row */
    grid-gap: 20px; /* Adjust the gap between boxes as needed */
  }
  
  .features .box {
    padding: 50px;
    text-align: center;
    background-color: #fff; /* Add a background color if needed */
    border-radius: 10px; /* Add rounded corners if desired */
  }
  
  .features .box h2 {
    margin: 20px 0;
    font-size: 18px; /* Adjust the font size as needed */
  }
  
  .features .box p {
    word-spacing: 2px;
    transition: 0.5s;
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  .features .box i {
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
  }
  
  .features .box:hover p {
    color: white;
  }
  
  .features .box:hover i {
    color: white;
    opacity: 1;
  }
  
  .icons {
    height: 75px;
  }
  